@import './base.css';

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.user-form-container {
  margin-top: 10%;
}

.user-form-info {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.user-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-input-container input {
  width: 300px;
  height: 30px;
}

.user-button {
  height: 30px;
  width: 300px;
  text-align: center;
}

.user-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
  margin: 10% auto;
  overflow-x: auto;
  width: 80%;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: var(--vt-c-black-soft);
}
tr:hover {
  background-color: var(--vt-c-text-dark-2);
}
th {
  background-color: var(--vt-c-black);
  color: white;
  position: sticky;
}
